head, body{
	width:320px;
	max-width:100%;
	text-align:center;
	background:#222;
	font-family:Calisto MT;
	overflow:hidden;
	transition:0.5s linear;
	line-height:10px;
}
#c-container{
	position:relative;
	text-align:center;
	width:100%;
	height:400px;
}
.c-headimage{
	position:relative;
	text-align:center;
	width:64px;
	height:64px;
}
.darkgreen{
	color:rgba(56, 72, 23, 1);
}
.lightgreen{
	color:rgba(146, 172, 53, 1);
}
.c-title-main{
	position:relative;
	text-align:center;
	font-family:Agency FB;
}
.c-title-sub{
	position:relative;
	text-align:center;
	color:#737373;
	font-family:Calisto MT;
	font-size:14px;
}
.c-def-buts{
	position:relative;
	text-align:center;
	width:150px;
	height:30px;
	margin:10px auto;
	transition:0.25s linear;
	color:#000;
	background:rgba(146, 172, 53, 1);
	border:0px;
	border-radius:5px 5px;
}
.c-def-buts:hover{
	background:rgba(56, 72, 23, 1);
	color:#000;
}
#c-body{
	position:relative;
	text-align:center;
	width:100%;
	margin:0 auto;
}
#qrelement{
	position:relative;
	text-align:center;
	margin:0 auto;
}
#qrspace{
	display:none;
	position:relative;
	text-align:center;
	width:128px;
	height:128px;
	margin:10px auto;
}
#upper-body{
	position:relative;
	text-align:center;
	width:100%;
	margin:0 auto;
}
#mid-body{
	position:relative;
	text-align:center;
	width:100%;
	margin:0 auto;
}
#midplay{
	position:relative;
	text-align:center;
	width:100%;
	margin:0 auto;
}
#lower-body{
	position:relative;
	text-align:center;
	width:100%;
	margin:0 auto;
}
hr{
	position:relative;
	text-align:center;
	width:100%;
	border-color:#444;
}
.hidden-buts{
	display:none;
}
.hidden-text{
	display:none;
}
.messagetext{
	color:#b00;
}
.messagetext2{
	color:#737373;
}
footer{
	position:relative;
	text-align:center;
	width:100%;
	border-top:1px solid;
	border-color:#444;
	color:#737373;
	padding:10px;
	margin: 0 auto;
}